/* margin is the space be*/

body{
  background: white;
  background-image: url("../images/dogBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: black;
  font-family: "Helvetica Neuve", Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;
  
  
}

header{
  background-color:black;
  background-size: 100%;
  background-position: center;
  height: 80px ;
  padding: 20px;
  text-align: center;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin-top:40px ;
}

.navbar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar li{
  display: inline-block;
  margin: 0 100px 0 0;
  padding-top: 20px;
  
}

.navbar a:hover{
  color: white;
  text-decoration: underline;
}

h1{
  color: darkslateblue;
  text-align: center;
  background-color: white;
  border: 5px dotted black;
  width: 500px;
  /*position: relative;*/
  justify-content: center;
  margin: 0 auto;
}

h2{
  color: darkslateblue;
  text-align: center;
  text-decoration: underline;
  background-color: white;
  border: 1px solid black;
  width: 300px;
}


#dogpics {
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: white;
  position:absolute;
  bottom: 400px;
  left: 850px;
  margin: 0 auto;
  
}


#dogpics img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}


#dogbox{
  border: 5px solid black ;
  padding: 10px;
  display: block;
  background-color: white;
  width: 350px;
  height: 700px;
  overflow-y: scroll;
  display: block;
  font-family: 'Faster One', cursive;
}

.searchForm{
  position:absolute;
  bottom: 340px;
  left: 850px;
}

.searchForm input{
  height: 40px;
  width:200px ;
  border-radius: 8px;
  border: 5px solid black;
}

.searchForm button{
  position:absolute;
  left: 220px;
  height: 45px;
  border-radius: 8px;
  background-color: grey;
  box-shadow: 0 9px #999;
}

.searchForm button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.searchForm button:hover{
  cursor:pointer;
}
